<ul class="mdl-list">
    {{#each product.items }}
    {{#if @index}}
    {{ stringHelper @key}}
    {{/if}}
    {{#each this }}
    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
            {{this.name}}
        </span>
        <span class="mdl-list__item-secondary-action">
            <label class="list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-{{@../key}}-{{this.name}}">
                <input type="radio" id="list-{{@../key}}-{{this.name}}" class="mdl-radio__button" name="{{@../key}}[{{this.name}}]"
                    value="{{this.price}}" />
            </label>
        </span>
    </li>
    {{/each}}
    {{/each}}
</ul>