<div class="mdl-grid">
    <div class="div-inline mdl-textfield mdl-js-textfield mdl-cell--3-col">
        <label>Height: </label>
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" maxlength="1" id="height" value="3">
        <label class="mdl-textfield__label" for="height">height</label>
    </div>
    <div class="div-inline mdl-textfield mdl-js-textfield mdl-cell--3-col">
        <label>Width: </label>
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" maxlength="1" id="width" value="3">
        <label class="mdl-textfield__label" for="width">width</label>
    </div>
    <div class="div-inline mdl-textfield mdl-js-textfield mdl-cell--3-col">
        <label>Quantity: </label>
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="quantity" value="10">
        <label class="mdl-textfield__label" for="quantity">quantity</label>
    </div>
</div>
<ul class="mdl-list">
    <div id="prodcut-1">
        {{#each product.items }}
        <div class="mdl-grid">
            {{#if this}}
            {{#if @index }}
            <label class="mdl-cell mdl-cell--3-col">{{ stringHelper @key}} :</label>
            {{/if}}
            {{#each this }}
            <li class="mdl-list__item mdl-cell--3-col">
                <span class="mdl-list__item-primary-content">
                    {{this.name}}
                </span>
                <span class="mdl-list__item-secondary-action">
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-{{@../key}}-{{this.name}}">
                        <input type="radio" id="list-{{@../key}}-{{this.name}}" class="mdl-radio__button" name="{{@../key}}"
                            value="{{@../key}},{{this.name}},{{this.price}}" checked />
                    </label>
                </span>
            </li>
            {{/each}}
            {{/if}}
        </div>
        {{/each}}
    </div>
</ul>