<form action="/user/update" method="POST">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <h4>Personal details</h4>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="name" value="{{user.name}}" type="text" id="name" required>
                <label class="mdl-textfield__label" for="name">Name..</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="email" value="{{user.email}}" type="email" id="email"
                    required>
                <label class="mdl-textfield__label" for="email">Email..</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="phone" value="{{user.phone}}" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                    id="phone" maxlength="10" minlength="10" required>
                <label class="mdl-textfield__label" for="phone">10 digit Phone Number</label>
                <span class="mdl-textfield__error">Please enter correct Phone number</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col">
            <h4>Shipping address</h4>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="shippingAddress" value="{{user.shippingAddress}}" type="text"
                    id="address" required>
                <label class="mdl-textfield__label" for="address">Address</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="shippingCity" value="{{user.shippingCity}}" type="text" id="city"
                    required>
                <label class="mdl-textfield__label" for="city">City..</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="shippingState" value="{{user.shippingState}}" type="text" id="state"
                    required>
                <label class="mdl-textfield__label" for="state">State..</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="country" value="India" disabled>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="shippingPin" value="{{user.shippingPin}}" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                    id="pincode" maxlength="6" minlength="6" size="10" required>
                <label class="mdl-textfield__label" for="phone">pincode...</label>
                <span class="mdl-textfield__error">Please enter correct pincode</span>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <h4>Billing address</h4>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="billingAddress" value="{{user.billingAddress}}" type="text"
                    id="baddress" required>
                <label class="mdl-textfield__label" for="baddress">Address</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="billingCity" value="{{user.billingCity}}" type="text" id="bcity"
                    required>
                <label class="mdl-textfield__label" for="bcity">City..</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="billingState" value="{{user.billingState}}" type="text" id="bstate"
                    required>
                <label class="mdl-textfield__label" for="bstate">State..</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="country" value="India" disabled>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="billingPin" value="{{user.billingPin}}" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                    id="bpincode" maxlength="6" minlength="6" size="10" required>
                <label class="mdl-textfield__label" for="bpincode">pincode...</label>
                <span class="mdl-textfield__error">Please enter correct pincode</span>
            </div>
        </div>
    </div>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Update
    </button>
</form>